{% extends 'adminbase.html' %}
{% block content %}








<h1>Search member</h1>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      
      {% for user in usr %}
      
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.email}}</td>
        <td><a href="{% url 'update' user.id %}">Update</a></td>
        <td><a href="{% url 'delete' user.id %}">Delete</a></td>

        
      </tr>
     
      {% endfor %}
     
    </tbody>
  </table>

{% endblock  %}